.App {
  text-align: center;
}
body{
  margin: 0;
  padding: 0;
}

.navbar{
  display: flex;
  height: 50px;
  background-color: black;
  justify-content: center;
  align-items: center;

}

.navbar a{
  color: white;
  text-decoration: none;
  margin: 0 4px;
}
.navbar button {
  color: white;
    margin-left: 18px;
    background-color: #6e3535;
    font-size: 13px;
    padding: 3px 12px;
    font-weight: 600;
    border-radius: 7px;
}

